body {
  font-family: 'Source Sans Pro', Arial;
}

li {
  list-style: none;
}

a {
  color: #4a4a4a;
}

a:hover {
  color: blue;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  flex-shrink: 0;
}

.footer {
  background-color: #06070e;
}
.page-body {
  flex-grow: 1;
}
