.cardStyle {
  width: 400px;
  display: inline-block;
  margin: 10px;
  background-color: #eeb868;
  color: #664147;
  font-size: 1.1rem;
  border: 2px solid #456990;
  border-radius: 5px;
}
.card-footer-item-style {
  border: 1px solid #456990;
  border-radius: 1px;
}

.card {
  color: white;
  background-color: #598392;
}

.paragraphs {
  font-size: 0.875rem;
}

.title-style {
  color: #456990;
  font-size: 2rem;
  text-transform: capitalize;
}
