.cardStyle {
  width: 350px;
  display: inline-block;
  margin: 10px;
}

.card {
  color: white;
  background-color: #598392;
}

.paragraphs {
  font-size: 0.875rem;
}

.title-style {
  color: #456990;
  font-size: 1.5rem;
  text-transform: capitalize;
}
